.gallery {
    max-width: 1440px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
    margin: 24px auto;
    padding: 0;
    background-color: #fff;
}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3); 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.gallery-image {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 250ms ease;
}
 .gallery-image:hover {
  transform: scale(1.05);
 }
 
.basicLightbox {
    background: rgba(46, 47, 66, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.basicLightbox__placeholder {
    max-width: 100%;
    max-height: 100%;
}

.basicLightbox__placeholder img {
    width: 100%;
    height: auto;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.5);
    object-fit: contain;
}
