* {
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(180, 215, 227);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {}

.gallery-link {}

.gallery-image {
    border-radius: 4px;
    height: 200px;
    width: 360px;
    transition: transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-image {
    border-radius: 8px;
    position: relative
}

.gallery-image:focus,
.gallery-image:hover {
    transform: scale(1.07);
}

.image-caption {

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    /* semi-transparent background */
    color: #ffffffcf;
    padding: 10px 60px;
    font-size: 24px;
    border-radius: 10px;
    transition: opacity 0.3s ease;





}
